// Import font
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap')

// Variables

$primary: #DB2B39
$aboutBackground: #1E212B91
$dark: #1E212B

// Mixins

=flex($dir, $justify, $align)
  display: flex
  flex-direction: $dir
  justify-content: $justify
  align-items: $align

=btnSize($height)
  height: $height
  border-radius: $height

// Global

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Hind Siliguri', sans-serif

body, html
  overflow-x: hidden

ul
  list-style-type: none

button, input
  border: none
  outline: none

a
  width: 100%
  height: 100%
  color: #fff
  text-decoration: none
  +flex(row, center, center)

.horizontalList
  display: flex

.btn
  cursor: pointer

.sectionHeader
  position: relative
  color: $dark
  text-align: center
  text-transform: uppercase
  font-size: calc(28px + 20 * ((100vw - 900px)/1100))
  font-weight: 700
  margin-bottom: 50px

.sectionHeader::before
  content: ""
  position: absolute
  top: -20px
  left: 50%
  transform: translateX(-50%)
  width: 60px
  height: 12px
  background-color: $primary

.topMenu
  color: #fff
  text-transform: uppercase

  .topMenuList
    .topMenuList__item
      font-size: 18px
      font-weight: 600
      margin: 0 50px
      cursor: pointer

      a
       text-decoration: none
       color: #fff
       a:hover
        opacity: .8

.btn--portfolio
  font-size: calc(20px + 12 *((100vw - 900px)/(1100)))
  font-weight: 700
  background-color: $dark
  color: #fff
  width: calc(100vw * .30)
  max-width: 500px
  box-shadow: 0 0 25px #1E212B91
  +flex(row, center, center)
  +btnSize(calc(100vw * .05))
  max-height: 90px

// Landing page

.landingPage
  height: fit-content
  min-height: 800px
  position: relative

  .landingPageImg
    position: absolute
    top: 0
    left: 0
    max-height: 100vh
    min-height: 800px

  .topLogo
    position: absolute
    top: 65px
    left: 140px

  .topMenu
    position: absolute
    top: 98px
    right: 100px

  .centerLogo
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: calc(100vw * 0.5)
    max-width: 800px
    height: calc(100vw * 0.4 / 6.5)
    max-height: 123px

    .centerLogo__img
      width: 100%
      height: 100%

  .btn--callToAction
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, 170px)
    width: 326px
    background-color: $primary
    color: #fff
    font-size: 28px
    font-weight: 700
    text-transform: uppercase
    +btnSize(70px)
    +flex(row, center, center)

// O nas

.aboutUsSection
  background: rgba(30, 33, 43, .09)
  color: $dark
  width: 100%
  height: 444px
  display: flex
  padding: 30px 140px

  .aboutUsSection__left
    width: 50%

    .left__header
      font-size: calc(18px + 18 * ((100vw - 900px)/(1100)))
      font-weight: 700

    .left__content
      .left__content__p
        margin: 20px 0

  .aboutUsSection__right
    position: relative
    width: 50%
    +flex(row, flex-end, center)

    .right__img
      position: relative
      width: calc(100vw * 0.35)
      height: calc((100vw * 0.35) / 1.78)
      max-width: 701px
      max-height: 393px
      transform: translateY(70px)

  .aboutUsSection__right::after
    content: ""
    position: absolute
    left: 70px
    display: block
    width: calc(100vw * 0.25)
    height: calc((100vw * 0.35) / 1.78 + 20px)
    max-width: 610px
    max-height: 440px
    background-color: #1E212B
    z-index: -1
    transform: translateY(70px)

// Portfolio

.portfolioSection
  padding-top: 200px
  width: 100%

  .portfolio__content
    width: 100%
    height: calc((100vw * 0.24) / 1.5 + 100px)
    max-height: 400px
    padding: 0 140px
    background: url("../img/drokam-portfolio-background.png")
    +flex(row, space-between, center)

    .portfolio__content__item
      display: block
      width: calc(100vw * 0.24)
      height: calc((100vw * 0.24) / 1.5)
      max-width: 528px
      max-height: 352px

  .portfolio__bottom
    margin-top: 50px
    +flex(row, center, center)

// Zaufali nam

.partnersSection
  padding: 180px 0 50px 0

  .partners__content
    width: calc(100vw * .7)
    max-width: 1300px
    height: 350px
    margin: 0 auto
    background: url("../img/zaufali-nam-tlo.png")
    background-size: cover
    +flex(row, center, center)

    .partners__content__inside
      width: 1000px
      overflow: hidden
      +flex(row, flex-start, center)

      .partners__content__item
        flex: 0 0 180px
        height: 180px
        background-color: #fff
        margin: 0 10px
        +flex(row, center, center)

    .partners__content__arrow
      width: 10%
      cursor: pointer
      +flex(row, center, center)

// Footer

.footer
  position: relative
  width: 100%
  height: 540px
  padding: 0 140px
  background-color: $dark
  color: #fff
  flex-wrap: wrap
  +flex(row, space-beweeen, center)

  .footer__right, .footer__left
    width: 50%
    height: 80%

  .footer__left
      .daneKontaktowe__header__h
        font-weight: 300 !important
        font-size: 25px

      .footer__left__logo
        width: 330px
        height: 49px
        margin-bottom: 30px

      .daneKontaktowe__content

        .daneKontaktowe__content__item
          display: grid
          grid-template-columns: 70px 200px
          grid-template-rows: repeat(2, 40px)
          align-items: center
          margin: 20px 0

          .kontaktImg
            grid-column: 1
            grid-row: 1 / span 2

          .kontaktItem
            font-size: 27px
            font-weight: 400

          .kontaktItem:first-child
            grid-column: 2
            grid-row: 1

          .kontaktItem:nth-child(2)
            grid-column: 2

        .daneKontaktowe__content__item:last-child
          grid-template-rows: 40px

          .kontaktItem:first-child
            grid-row: 1 / span 2

          //.kontaktItem
            //margin-left: 40px

  .footer__right
    +flex(column, flex-start, flex-end)

    .right__socialMedia
      width: 200px
      +flex(row, space-between, center)

      img
        transition: .2s

      img:hover
        opacity: .8

    .right__offer
      margin-top: 30px
      .right__offer__list

        .right__offer__list__item
          text-align: right
          font-size: 18px
          margin: 15px 0


  .footer__bottom
    position: absolute
    bottom: 10px
    left: 50%
    width: 80vw
    transform: translateX(-50%)
    border-bottom: 1px solid #fff

    .footer__bottom__h
      text-align: center
      padding: 30px 0 5px 0
      font-size: 14px
      font-weight: 300

      a
        display: inline

/* Pages header */

.pageHeader
  position: relative
  width: 100%
  height: 350px

  .headerBackground
    position: absolute
    width: 100%
    height: 100%

  .topLogo
    position: absolute
    top: 30px
    left: 140px

  .topMenu
    position: absolute
    top: 60px
    right: 100px

  .pageHeader__h
    position: absolute
    left: 50%
    bottom: 70px
    transform: translateX(-50%)
    width: fit-content
    width: -moz-max-content
    margin: 0 auto
    color: #fff
    text-transform: uppercase
    font-size: calc(30px + 20 * ((100vw - 900px)/(1100)))
    text-align: center

  .pageHeader__h::before
    content: ""
    position: absolute
    top: -15px
    left: 50%
    transform: translateX(-50%)
    width: 45px
    height: 10px
    background-color: $primary

/* Oferta page */

.ofertaMain
  position: relative
  width: 100%
  padding: 100px 0
  background-color: rgba(30, 33, 43, .09)
  +flex(column, center, center)

  .ofertaMain__content
    width: 80%
    display: grid
    grid-template-columns: repeat(2, 48%)
    grid-column-gap: 4%
    grid-row-gap: 20px

  .ofertaItem
    background-color: $dark
    box-shadow: 0 0 10px #00000080

    .ofertaItem__img
      width: 80%
      height: calc(80% / 1.9)
      margin: 40px auto 10px auto

    .ofertaItem__label
      color: #fff
      text-transform: uppercase
      font-size: calc(20px + 15 * ((100vw - 900px)/(1500)))
      text-align: center
      margin: 30px 0

  .ofertaMain__bottom
    margin-top: 80px

    .ofertaMain__logo
      width: 50vw
      max-width: 530px
      height: calc(50vw / 6.79)
      max-height: 78px
      margin: 0 auto

    .ofertaMain__slogan
      text-align: center
      margin: 20px 0
      font-size: calc(25px + 10 * ((100vw - 900px)/(1100)))

    .ofertaMain__btn
      background-color: $primary
      margin: 50px auto 0 auto
      box-shadow: 0 0 25px #DB2B3991

/* Portfolio page */

.portfolioPage
  .portfolioPage__p
    width: 80%
    margin: 30px auto
    text-align: center
    font-size: calc(18px + 8 * ((100vw - 900px)/(1100)))

  .portfolioSectionP
    position: relative
    display: flex
    margin: 40px auto
    width: 80%
    height: 360px

    img
      width: 70px
      height: 70px

    .portfolioSection__content
      background-color: #EAEBEC
      width: 70%
      height: 264px
      +flex(row, space-evenly, center)

      .portfolioSection__content__img
        width: 30%
        height: auto

      iframe
        height: 80% !important

    .portfolioSection__title
      font-size: calc(25px + 20 * ((100vw - 900px)/(1100)))
      margin: 0 20px

    .btn--zobaczWiecej
      position: absolute
      right: 0
      bottom: 0
      background-color: $primary
      width: 250px
      height: 50px
      border-radius: 50px
      font-size: 18px
      box-shadow: 0 0 15px #DB2B3980

  .portfolioSection:last-child
    margin-bottom: 50px
